h1 {
  color: #f8abc8;
  text-align: center;
  font-size: 65px;
}
h2 {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.fullBody {
  border: 1px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  line-height: 1.5;
  margin: 10 auto;
  padding: 10px;
}
.history {
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
}
.learn {
  text-decoration: none;
  font-style: italic;
}
.boyfriends {
  border: 1px;
  border-radius: 4px;
  margin-right: 50px;
}
.harryPotter {
  border: 1px;
  border-radius: 4px;
  margin-left: 50px;
}
.quarantinePage {
  text-decoration: none;
}
button {
  background: #e9c4d4;
  border: 2px solid;
  border-color: #e9c4d4;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
  display: block;
  font-size: 18px;
  margin: 20px auto;
  padding: 15px 20px;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: white;
  color: #e7bace;
  cursor: pointer;
}
.coded {
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
